<body>
    <h1>Edit Module</h1>

    <% if (errors != undefined) { %>
        <ul>
            <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>

    <form action="/module/edit/:mid" method="POST">
        <label>Module ID:</label>
        <input type="text" name="mid" ><br>
        <label>Name</label>
        <input type="text" name="mName"><br>
        <label>Credit</label>
        <input type="text" name="credits"><br>
        <input type="submit" value="OK">
    </form>
    <a href='/'>Home</a>
</body>